body {
	background-color: #f6f6f3;
}
h1 {
	font-family: 'Raleway', sans-serif;;
	font-weight: 400;
	color: #222d4a;
	padding-left: 20px;
}
h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	color: #222d4a;
	padding-left: 30px;
}
h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	color: #222d4a;
	position: relative;
	top: 0;
	left: 30px;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
div {
	position: absolute;
	top: 20px;
	left: 420px;
	color: #778ba5;

}
#center {
	width: 420px;
	height: 110%;
	margin: auto;
	background-color: #f6f6f3;

}
img {
	width: 100%;
}
p {
	font: 20px 'Raleway', sans-serif;
} 
ul {
	font: 20px 'Raleway', sans-serif;
	font-weight: 200;
	padding-left: 60px;
}
a {
	font: 15px 'Raleway', sans-serif;
	color: #7a8cb7;
	text-decoration: none;
}
a:hover {
	color: #8cabec;
	text-decoration: underline;
}
footer {
	height: 40px;
	font-family: 'Raleway', sans-serif;;
	font-weight: 500;
	color: #222d4a;
	padding-top: 10px;
	padding-left: 495px;
}