body {
	background-color: white;
}

h1 {
	position: relative;
	left: 20%;
	top: 5%;
	width: 60%;
	font-size: 180%;
	font-family: 'Anaheim', sans-serif;
	padding: 1%;
	padding-top: 15px;
}
#topping {
	position: relative;
	left: 17%:;
	width: 65%;
	height: auto;
	margin-bottom: 2%;
	background-color: white;
	box-shadow: 3px 3px 9px #888888;
}
h4 {
	position: relative;
	left: 60%;
	padding-bottom: 2%;
	font-family: 'Anaheim', sans-serif;
	font-size: 130%;
	width: 40%;
}
h3 {
	position: relative;
	left: 18%;
	top: 5%;
	font-family: 'Gentium Basic', serif;
	font-size: 20px;
	padding: 2%;
}
#nav {
	position: fixed;
	top: 10%;
	right: 2%;
	width: 10vw;
	height: 10vh;
	list-style-type: none;
	margin: 0;
	padding: 2px 0;
}
ul {
	list-style-type: none;
	font-family: 'Anaheim', sans-serif;
	font-size: 14px;
}
a{
	text-decoration: none;
	color: #8e2618;
}
a:hover {
	color: #e2d4c7;
}
a: visited {
	color: black;
}
#about {
	position: relative;
	left: 17.5%;
	width: 60%;
	height: 100%;
	font-family: 'Gentium Basic', serif;
	font-size: 19px;
	text-align: justify;
	background-color: white;
	padding: 1% 2%;

}
#images{
	position: relative;
	display: block;
	padding: 0px 5px ;

}
.exerpt {
	position: relative;
	left: 18%;
	padding: 2% 3%;
	margin: 10px 10px;
	box-shadow: 3px 3px 9px #888888;
	display: block;
	width: 55%;
	height: 10%;
	font-family: 'Gentium Basic', serif;
	background-color: white;
}

h2 {
	position: inherit;
	left: 2%;
	right: 5%;
	font-family: 'Gentium Basic', serif;
	padding: 0;
	margin-top: 3px;
	font-size: 110%;

}
#horz {
	background-color: #8c8c8c;
	text-align: right;
	padding: 0 5%;
	box-shadow: 3px 3px 9px #000000;
}
#hidden {
	padding: 4% 25%;
} 
.post {
	position: relative;
	left: 18%;
	padding: 3%;
	margin: 1%;
	box-shadow: 3px 3px 9px #888888;
	display: block;
	width: 55%;
	height: auto;
	font-family: 'Gentium Basic', serif;
	background-color: white;
}
.crosnav {
	position: relative;
	width: auto;
	color: #8e2618;
	left: 39%;
	font-family: 'Anaheim', sans-serif;
}
#sidebar {
	position: absolute;
	top: 15%;
	left: 2%;
	width: 15%;
}
#postimg {
	position: relative;
	top: 7%;
	bottom: 0;
	width: 15vw;
	height: auto;
	margin-bottom: 2%;
	transition: width 1s, bottom 1s;
}
#postimg:hover {
	width: 30vw;
	height: auto;
	bottom: 10vh;
}