body {
	background-color: #051938;
}
#sky {
	width: 1200px;
	height: 100%;
}
.star{
	position: absolute;
}
.sml {
	width: 6px;
	height: 6px;
	border-radius: 3px;
	background-color: white;
	animation-name: shine;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	transition: box-shadow 1s;
}
.sml:hover {
	box-shadow: 0px 0px 6px 6px white;
}
.med {
	width: 8px;
	height: 8px;
	border-radius: 4px;
	background-color: goldenrod;
	opacity: .8;
	animation-name: bright;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	transition: box-shadow 1s;
}
.med:hover {
	box-shadow: 0px 0px 8px 8px goldenrod;
}
.lrg {
	width: 12px;
	height: 12px;
	border-radius: 6px;
	background-color: lightblue;
	opacity: .8;
	animation-name: pulse;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	transition: box-shadow 1s;
}
.lrg:hover {
	box-shadow: 0px 0px 12px 12px lightblue;
}
/* -- Animation --*/

@keyframes shine {
	0% { box-shadow: 0 0 0 0}
	50% {box-shadow: 0px 0px 6px 6px white}
	100% {box-shadow: 0 0 0 0}
}

@keyframes bright {
	0% { box-shadow: 0 0 0 0}
	50% {box-shadow: 0px 0px 8px 8px goldenrod}
	100% {box-shadow: 0 0 0 0}
}

@keyframes pulse {
	0% { box-shadow: 0 0 0 0}
	50% {box-shadow: 0px 0px 12px 12px lightblue}
	100% {box-shadow: 0 0 0 0}
}