body {
	background-color: #f6f6f3;
}
h1 {
	font-family: 'Raleway', sans-serif;;
	font-weight: 400;
	color: #222d4a;
}
h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #605555;
	padding: 20px 20px 20px 20px;
}
div {
	position: absolute;
	top: 20px;
	left: 300px;
	right: 200px;
	color: #605555;
}
p {
	font: 15px 'Raleway', sans-serif;
} 
ul {
	font: 14px 'Raleway', sans-serif;
	font-weight: 200;
}
ol {
	font: 14px 'Raleway', sans-serif;
	font-weight: 200;
}
a {
	font: 15px 'Raleway', sans-serif;
	color: #7a8cb7;
	text-decoration: none;
}
a:hover {
	color: #8cabec;
	text-decoration: underline;
}
