#canvas {
	margin: auto;
	padding: 100px 40px;
	width: 350px;
	height: 520px;
	background-color: lightblue;
	opacity: .6;
}
.snow {
	margin: 10px;
	position: relative;
	top: 50px;
	left: 40px;
	border: 2px solid transparent;
	width: 120px;
	height: 30px;
	background-color: #9cbdbf;
	display: block;
}
.top {
	width: 50px;
	margin-left: 40px;
}
.left {
	margin-left: 0px;
}
.left:hover {
	background-color: #003300;
	margin-top: 20px;
}
.right {
	margin-left: 30px;
	transition: margin 2s;
}
.right:hover {
	background-color: #003300;
}
.bottom {
	margin-left: 5px;
	width: 140px;
	height: 40px;
}
.shadow {
	position: absolute;
	top: 570px;
	left: 420px;
	width: 120px;
	height: 100px;
	background-color: grey;
	opacity: .6;
	transform: rotate(60deg);
	transform: skew(-60deg);
}
.pile {
	position: absolute;
	top: 470px;
	width: 350px;
	height: 300px;
	background-color: #edfeff;
}
.l {
	position: absolute;
	top: 550px;
	left: 420px;
	width: 420px;
	transform: rotate(-80deg);
	transform: skew(50deg);
}
.r {
	background-color: #a6b1b2;
	position: absolute;
	top: 570px;
	left: 700px;
	height: 200px;
	width: 210px;
	transform: rotate(50deg);
	transform: skew(-50deg);
}
.background {
	position: absolute;
	left: 425px;
	top: 400px;
	width: 430px;
	height: 300px;
	background-color: #1f3251;
}
.light {
	position: absolute;
	left: 425px;
	top: 350px;
	background-color: #478196;
	opacity: .5;
}

/* Phone*/
@media (max-width: 480px) {
	#canvas {
		width: calc(10% - 2px;)
		height: calc(10% - 2px);
	}
	.snow {
		display: block;
	}
}

/* small desktop*/
@media (min-width: 992px) {
	.block {
		width: calc(5% - 2px);
		height: calc(5% - 2px);
	}
	.snow {
		display: block;
	}
}